#container {
    width:800px;
    margin:auto;
    display: flex;
    justify-content: center;
}

.group-container {
    float: left;
    width: 70%;
    height: 150px;
    background-color: #d4d4d4c4;
    position: relative;
    top: 10%;
    text-align: center;
    padding:20px;
}
.select-btn {

}

.group_info{
    float:left;
    margin-top:38px;
}

form{
    float:right;
}

input.select-btn{
    width:100px;
    height:100px;
}