*{margin: 0; padding: 0, }
.page {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
}
#container {
    height: 500px;
    width: 60%;
    display: flex;
    justify-content: center;
}

#group-container {
    float: left;
    width: 26%;
    height: 30%;
    background: blue;
    position: relative;
    top: 10%;
    text-align: center;
}
.select-btn {

}