*{margin: 0; padding: 0, }
body {
    background-image: url(https://data.whicdn.com/images/296952513/original.jpg?t=1505164641);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: block;
    text-align: center;
    height: 500px;
}
.header {
    top: 5px;
}
.input {
    height: 95%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    align-content:center;
    position: relative;
    left: 18%;
    top: 10%;
}

.box {
    padding-top:3%;
    width: 40%;
    height: 100%;
    background: black;
    position: relative;
    left: 29%;
    top: 10%;
    color: whitesmoke
}

.dropdown {
    width: 67%;
}

.desc_line {
    line-height: 38px;
    width: 163%;
}

.submit-btn {
    margin-top: 8%;
    width: 100px;
    height: 30px;
}
