{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div id="main">
        <div class="group">
            <h1>
                {{course["name"]}}
            </h1>
            <h4>Number of participants: <span>{{course["num_participants"]}}</span></h4>
            <ul>
                <li>Location: {{address}}</li>
                <li>Meeting times: {{course["time_to_meet"]}}s</li>
                <li>Frequency:{{course["hrs_per_week"]}} hours per week</li>
                <li>Organizer's email: {{course["mail"]}}</li>
            </ul>
            <button onclick="location.href='mailto:{{mail}}?subject=Mail from Our Site'" type="button">
            contact us</button>
        </div>
    </div>
{% endblock %}