{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div id="main">
        <div class="group">
            <h1>
                {{name}}
            </h1>
            <h4>Participants: <span>{{num_participants}}</span></h4>
            <ul>
                <li>Meeting time: {{time_to_meet}}</li>
                <li>Hours per week: {{hrs_per_week}}</li>
            </ul>
            <button onclick="location.href='mailto:{{mail}}?subject=Mail from Our Site'" type="button">
            contact us</button>
        </div>
    </div>
{% endblock %}