
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <div class="container">
        <div class="box">
            <h2 class="header">Let us know what you want to learn</h2>
            <form class="input" action="/form_input" method="GET">
                <h5 class="desc_line">Topics of Interest</h5>
                <select class="dropdown" name="categories">
                    <option value="front-end">Front End Development</option>
                    <option value="back-end">Back End Development</option>
                    <option value="entrepreneurship">Entrepreneurship</option>
                    <option value="data-science">Data Science</data-science></option>
                    <option value="accounting">Accounting</option>
                    <option value="investment-strategy">Investment Strategy</option>
                    <option value="net-security">Network and Security</option>
                </select>
                <h5 class="desc_line">What is your address?</h5>
                <input type="text" class="dropdown" name="address" />
                <h5 class="desc_line">How many kilometers are you willing to travel?</h5>
                <input type="text" class="dropdown" name="distance" />
                <h5 class="desc_line">Maximum hours you can meet per week?</h5>
                <input type="text" class="dropdown" name="hours" />
                <input class="submit-btn" type="submit" value="Find Groups">
            </form>
        </div>
    </div>
